@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<body style="background-image:url('Images/bgc.jpg'); background-size:cover"></body>

<div class="text-center">
    <h1 class="display-4">Welcome Cherry</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
